
@media (max-width: 991px) {


/*==================*/
/*-- MAIN MENU --*/						
/*==================*/

.main-menu{
	display:none;
}

/*==================*/
/*-- MOBILE MENU --*/						
/*==================*/

.mobile-menu{
	display:block !important;
}

.mobile-menu .hamburger-menu{
    width: 35px;
    height: 30px;
    top: 50%;
    display: flex;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    justify-content: space-around;
    right: 0px; 
    flex-direction: column;
    position: absolute;
    z-index: 999;
    cursor: pointer;
}

.hamburger-menu .line {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background: #fff;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
}

.change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
    -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
    -moz-transform: rotateZ(-45deg) translate(-8px, 6px);
    -o-transform: rotateZ(-45deg) translate(-8px, 6px);
    -ms-transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line-2{
	opacity:0;
}

.change .line-3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
    -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
    -moz-transform: rotateZ(45deg) translate(-8px, -6px);
    -o-transform: rotateZ(45deg) translate(-8px, -6px);
    -ms-transform: rotateZ(45deg) translate(-8px, -6px);
}

.mobile-menu .nav-list {
    background: #0077b6;
    position: fixed;
    right: -400px;
    top: 0;
    display: flex;
    z-index: 1;
    height: 100%;
    width: 400px;
    align-items: center;
    justify-content: center;
    transition:right .8s;
    -webkit-transition:right .8s;
    -moz-transition:right .8s;
    -o-transition:right .8s;
    -ms-transition:right .8s;
}

.slide-menu {
    right: 0 !important;
}

.nav-list ul{
    text-align: center;
    padding:0px;
    
}

.nav-list ul li:not(:last-child){
	margin-bottom:10px;
}

.nav-list ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    display: block;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
}


}

@media (max-width: 575.98px) {

/*==================*/
/*-- MOBILE MENU --*/						
/*==================*/

.mobile-menu .nav-list {
    right: -100%;
    width: 100%;
}


}

