
@media (max-width: 991px) {

/*
======================
MAIN MENU 
======================                      
*/

.main-menu{
    display:none;
}

/*
======================
MOBILE MENU                         
======================                      
*/

.mobile-menu{
    display:block !important;
}

}

@media (max-width: 575.98px) {

/*
======================
MOBILE MENU                         
======================                      
*/

.mobile-menu .nav-list {
    right: -100%;
    width: 100%;
}


}
